body {
  background-image: url("https://img.freepik.com/free-photo/paper-texture_1194-5999.jpg");
  background-size: cover;
  color: #444444;
  font-family: Times New Roman, Arial, Helvetica;
  margin: 10% 20%;
}

.exp-header {
  color: #223BC9;
  text-transform: uppercase;
}

.aside-header {
  color: #223BC9;
  text-transform: uppercase;
}

aside{
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}
